attrs==20.1.0
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
extruct==0.10.0
html-text==0.5.2
html5lib==1.1
idna==2.10
isodate==0.6.0
lxml==4.5.2
mf2py==1.1.2
more-itertools==8.5.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.0.1
rdflib==5.0.0
rdflib-jsonld==0.6.2
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.10
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
